<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

<!-- 	<bean id="userDAO_hibernate" class="com.joinbright.grsm.dao.impl.hibernate.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> -->

    <bean id="userDAO" class="com.joinbright.grsm.dao.impl.ibatis.UserDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient"></property>
    </bean>

    <bean id="ManagerSupport"
        class="com.joinbright.grsm.service.base.ManagerSupport" abstract="true">
        <property name="userDAO" ref="userDAO" />
    </bean>

    <bean id="userManager" parent="ManagerSupport"
        class="com.joinbright.grsm.service.impl.UserManagerImpl">
    </bean>

</beans>
